textarea {
    min-height: 400px;
}
.individual-email-div{
    margin: 5px;
    margin-left: 0px;
    padding: 5px;
    border: 1px solid black;
}
.individual-email-div:hover{
    cursor: pointer;
    background-color: rgb(17, 187, 187) !important;
}
.archive-button{
    border-radius:10px;
    font-size: small;
    background-color: rgb(254, 150, 150);
    color: black;
    border: 1px solid rgb(49, 49, 49);
}
.archive-button:hover{
    background-color: black;
    color: white;
}